﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <h3>Testime ViewData objekti</h3>
        <p>Esimene: @ViewData["Esimene"]</p>
        <p>Teine: @ViewData["Teine"]</p>
        <p>ViewBag Esimene: @ViewBag.Esimene</p>
        <h3>Proovime nüüd TempData objekti</h3>
        <p>Esimene: @TempData["Esimene"]</p>
        <p>Teine: @TempData["Teine"]</p>
        <h3>Nüüd vaatame Session ja Application objekti</h3>
        <p>Session: @ViewBag.Session</p>
        <p>Started: @ViewBag.SessionStarted</p>
        <p>Application: @ViewBag.Application</p>
        <p>Started: @ViewBag.ApplicationStarted</p>

        <h3>Proovime parameetri ja cookiga</h3>
        <p>Nimi: @ViewBag.Nimi</p>
        <p>Arvamus: @ViewBag.Arvamus</p>
        <p>Endine: @ViewBag.Endine</p>

        <p>testime tempbagi:</p>
        <p>@ViewBag.TempBag.Salajutt</p>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>